body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}


#responses{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid #404040; */
    /* border-radius: 10px; */
    text-align: justify;
}

h1{
    text-align: right;
}

p{
    font-size: 1.1rem;
    line-height: 1.7rem;
}

hr{
    width: 50%;
}

#project{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

#fin-proj{
    padding-right: 10px;
}

.project-links{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
}

.project-links:hover{
    font-weight: bold;
}